@import 'transition';
@import 'button';

#app {
  height: 100vh;
}

#layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.stretched-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
    content: '';
    background-color: transparent;
  }
}

.scroll-bar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 0.5rem;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-corner {
    background: #555;
    border-radius: 50%;
  }
  &::-webkit-scrollbar-track-piece {
    background: #eee;
  }
}